<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Автосалон.Properties.Settings.AvtosalonConnectionString"
            connectionString="Data Source=LAPTOP-6VLIU4NF\SQLEXPRESS;Initial Catalog=Avtosalon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>